* {
  font-family: "Hanken Grotesk", sans-serif;
}

:root {
  --white: #fff;
  --black: #000;
  --light-black: #5a7184;
  --navy-blue: #183b56;
  --sky-blue: #1565d8;
  --light-blue: #00b8d9;
  --deep-midnight-blue: #0d2436;
}

#benefits,
#destinations,
#about,
#tips {
  margin: 0 30px;
}

html {
  scroll-behavior: smooth;
}

section {
  margin: 50px 0;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.logo {
  width: 120px;
  height: 40px;
}

/* TYPOGRAPHY */
h1 {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.3px;
}

h2 {
  font-size: 1.25rem;
  line-height: 28px;
}

h3 {
  font-size: 1.953rem;
  font-weight: 700;
  line-height: 40px;
}

h4 {
  font-size: 1.563rem;
  font-weight: 700;
  letter-spacing: 0.2px;
}

h5 {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.2px;
}

h3,
h4,
h5 {
  color: var(--navy-blue);
}

p {
  font-size: 1rem;
  line-height: 24px;
  padding: 16px 0;
  color: var(--light-black);
}

span {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--light-blue);
}

/* MARGIN */
.ml-1 {
  margin-left: 16px;
}

.mr-1 {
  margin-right: 16px;
}

.mt-1 {
  margin-top: 40px;
}

.mb-1 {
  margin-bottom: 40px;
}

.mb-2 {
  margin-bottom: 24px;
}

/* PADDING */
.px-1 {
  padding: 5px 0;
}

.px-2 {
  padding: 2px 0;
}

.py-1 {
  padding: 0 20px;
}

/* HOME SECTION */
#home {
  background-image: url(../images/1.jpg);
  background-size: cover;
  background-position: center;
  height: 800px;
  position: relative;
}

/* #home::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
} */

h1, h2 {
  text-align: center;
  color: var(--white);
}

.explore {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 180px;
  margin: 40px auto;
  font-size: 1rem;
  background-color: var(--sky-blue);
  color: var(--white);
  border-radius: 5px;
}

/* BENEFITS SECTION */
.heading {
  text-align: center;
  line-height: 1.5em;
  margin-top: 3em;
}

.benefit-box {
  height: 14em;
  border: 1px solid #e6e7e8;
  border-radius: 10px;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}

#benefits img {
  width: 3.5em;
  height: 5em;
}

/* DESTINATIONS SECTION */
.offers {
  text-align: end;
  font-weight: 700;
  color: var(--sky-blue);
  margin-top: 0.75rem;
}

.destination-box {
  padding-top: 2rem;
  margin: 1rem;
}

.destination-box img {
  width: 1000px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.destination-box {
  position: relative;
}

.destination-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  padding: 10px;
  margin-bottom: 5px;
}

.destination-info h5,
.destination-info p {
  margin: 0;
  padding: 0;
}

.destination-info h5 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
}

.destination-info p {
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--white);
  font-family: "Open Sans", sans-serif;
}

.destination-info button {
  font-weight: 700;
  background-color: var(--white);
  color: var(--sky-blue);
  border-radius: 2rem;
  height: 2.25rem;
  width: 7.25rem;
  padding: auto;
  text-align: center;
}

.destination-info button:hover {
  background-color: var(--sky-blue);
  color: var(--white);
}

#additional-destinations {
  display: none;
}

#additional-destinations.show {
  display: flex;
}

/* ABOUT SECTION */
#about p {
  text-align: justify;
}
.order-1 {
  order: 0;
}

.order-0 {
  order: 1;
}

/* TIPS SECTION */
.tip-box img {
  width: 380px;
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
}

.review-box {
  text-align: center;
  padding: 4rem 1.5rem;
}

em {
  font-weight: 700;
}

/* FOOTER */
footer {
  background-color: var(--deep-midnight-blue);
}

ul li span {
  font-weight: 700;
}

ul li {
  color: var(--light-black);
  font-family: "Open Sans", sans-serif;
  font-size: 0.95rem;
  margin: 12px 0;
  line-height: 25px;
}

#footer .bx {
  font-size: 1.25rem;
}

.copyright {
  text-align: center;
}

.copyright .bx {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--sky-blue);
}

.copyright .bxs-heart {
  font-size: 3rem;
  color: var(--white);
  padding: 1rem;
}

.footer-top {
  width: 85%;
  margin: 0 auto;
  padding: 2rem 2rem 1rem 2rem;
}

.footer-bottom {
  padding-bottom: 0.75rem;
}

.qrcode {
  height: 90px;
  width: 90px;
}

/* BACK TO TOP BUTTON */
#back-to-top-btn {
  display: none; /* Hide the button by default */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 1rem;
  background-color: var(--sky-blue);
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

#back-to-top-btn.show {
  display: block; /* Show the button when scrolling */
}


/* SMALL BREAKPOINT */
@media (min-width: 576px) {
  .heading p {
    width: 100%;
    margin: 0 auto;
  }

  #about h3 {
    width: 100%;
    margin: 0 auto;
    line-height: 2.5rem;
  }
}

/* MEDIUM BREAKPOINT */
@media (min-width: 768px) {
  .heading p {
    width: 90%;
    margin: 0 auto;
  }

  #about h3 {
    width: 90%;
    margin: 0 auto;
    line-height: 2.5rem;
  }

  #about h4 {
    padding-top: 6rem;
  }

  .order-md-0 {
    order: 1;
  }

  .order-md-1 {
    order: 0;
  }
}

/* LARGE BREAKPOINT */
@media (min-width: 992px) {
  #benefits,
  #destinations,
  #about,
  #tips {
    margin: 0 80px;
  }

  .heading p {
    width: 60%;
    margin: 0 auto;
  }

  .about-content,
  #tips .row:nth-child(2) {
    width: 70%;
    margin: 0 auto;
  }

  .about-content h4,
  .about-content p {
    width: 380px;
  }

  #about h3 {
    width: 50%;
    margin: 0 auto;
    line-height: 2.5rem;
  }

  #about h4 {
    padding-top: 6rem;
  }

  .review {
    width: 70%;
    margin: 0 auto;
  }
}
